html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.item1 {
    grid-area: ulogin;
    height: 200px;
}

.item2 {
    grid-area: searcharea;
    height: 200px;
}

.item3 {
    grid-area: latest;
}

.item4 {
    grid-area: poster;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'ulogin searcharea searcharea searcharea searcharea searcharea'
        'latest poster poster poster poster poster'
        'latest poster poster poster poster poster';
    gap: 10px;
    padding: 10px;
}

.remove-cover {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.remove-cover:hover {
    color:cadetblue; 
}

.flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }*/
