@{
    ViewData["Title"] = "Register Page";
}
<div class="grid-container">
    @*user login*@
    <div class="item1">
        <form>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
    @*search area*@
    <div class="item2">
        <form class="pb-3">
            <h2 class="text-center text-danger">Search for perfect partner</h2>
            <div class="form-group mt-4">
                <label for="email">Search For:</label>
                <input class="ms-5" type="radio" id="email" name="need">Bride</input>
                <input class="ms-5" type="radio" id="email" name="need">Groom</input>
            </div>
            <div class="form-group mt-4">
                <label for="pwd">Age:</label>
                <select class="ms-5">
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                </select>
                <select class="ms-5">
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger mx-2 mt-3 ms-5">Search</button>
        </form>
    </div>
    @*Latest Registered*@
    <div class="item3">
        <h5 class="text-center text-danger">Latest Registered</h5>
        <div class="card mt-2 mb-2">
            <div class="card-header text-center fw-bold">Jonas</div>
            <div class="card-body flex-1">
                <div>
                    <img src="~/imgs/profile-pic.jpg" width="100px" />
                </div>
                <div>
                    <p class="text-danger small">Age-28</p>
                    <p class="text-danger small">Cristian</p>
                    <button class="remove-cover small">View Profile</button>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header text-center fw-bold">Martha</div>
            <div class="card-body flex-1">
                <div>
                    <img src="~/imgs/profile-pic.jpg" width="100px" />
                </div>
                <div>
                    <p class="text-danger small">Age-28</p>
                    <p class="text-danger small">Cristian</p>
                    <button class="remove-cover small">View Profile</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center fw-bold">Mikael</div>
            <div class="card-body flex-1">
                <div>
                    <img src="~/imgs/profile-pic.jpg" width="100px" />
                </div>
                <div>
                    <p class="text-danger small">Age-28</p>
                    <p class="text-danger small">Cristian</p>
                    <button class="remove-cover small">View Profile</button>
                </div>
            </div>
        </div>
    </div>
    @*Personal Details Form*@
    <div class="item4 ms-5 mt-5">
        <p class="text-danger fw-bold text-center">ADDRESS DETAIL</p>
        <div class="reg-form">
            <form class="form-inline rform">
                <label for="fname" class="mr-sm-2">Address1:</label>
                <input type="fname" class="form-control mb-2 mr-sm-2" placeholder="Enter address 1" id="fname">
                <label for="mname" class="mr-sm-2">Address2:</label>
                <input type="mname" class="form-control mb-2 mr-sm-2" placeholder="Enter address 2" id="mname">
                <label for="city" class="mr-sm-2">City</label>
                <select type="lname" class="form-control mb-2 mr-sm-2" id="city">
                    <option>Mumbai</option>
                    <option>Delhi</option>
                    <option>Kolkata</option>
                    <option>Chennai</option>
                </select>
                <label for="email" class="mr-sm-2">State:</label>
                <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Enter State" id="email">
                <label for="mobile" class="mr-sm-2">Pincode:</label>
                <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter pincode" id="mobile">
                <label for="subcast" class="mr-sm-2">Area Code:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter Area code" id="subcast">
                <label for="mobile" class="mr-sm-2">Landline Number:</label>
                <input type="number" class="form-control mb-2 mr-sm-2" placeholder="Enter landline number" id="mobile">
                <div class="text-center">
                    <a class="btn btn-danger mb-2" href="##" onClick="history.go(-1); return false;">Back</a> 
                    <a class="btn btn-danger mb-2" asp-controller="Home" asp-action="RegisterP">Next</a>
                </div>
            </form>
        </div>
    </div>
</div>
